<link rel="stylesheet" type="text/css" href="/css/styles.css"/>

<div class="container">
    <div class="flex-container">
        <div><img src="https://i.imgur.com/kL8L8hM.png"></div>
        <div>2</div>
        <div>3</div>
      </div> 
</div>