<link rel="stylesheet" type="text/css" href="/css/styles.css" />
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">

<body>

<nav class="navbar navbar-light bg-light">
    <div class="navbar-brand">
        <img src="https://i.imgur.com/kL8L8hM.png" width="50" height="50" class="d-inline-block">
        Title Waves
    </div>
</nav>

<% if (message) { %>
    <div class="alert alert-primary">
        <%= message %>
    </div>
  <% } %>