<body>
    <form action="/execquery">
        <label for="query">Enter custom SQL query:</label><br>
        <input type="text" id="query" value="SELECT * from mydatabase"><br><br>
        <input type="submit" value="Execute">
      </form> 
</body>