<body>
    <form action="/login">
        <label for="identifier">Enter username or email</label><br>
        <input type="text" id="identifier"><br><br>
        <label for="key">Enter password</label><br>
        <input type="password" id="key"><br><br>
        <input type="submit" value="Login">
      </form> 
</body>