<%- include("partials/header", { message: message }) %>

    <div class="container">
        <div class="row">
            <div class="col">
                <h1>Forms</h1>
                <div class="button" onclick="document.location='switchboard/form/addNewCustomer'">Add New Customer</div>
                <div class="button" onclick="document.location='switchboard/form/addNewBook'">Add New Book</div>
                <div class="button" onclick="document.location='switchboard/form/addNewOrder'"> Add New Order</div>
            </div>
            <div class="col">
                <h1>Reports</h1>
                <div class="button" onclick="document.location='switchboard/report/newsletter'">Monthly Newsletter</div>
                <div class="button" onclick="document.location='switchboard/report/salesByAuthor'">Sales By Author</div>
                <div class="button" onclick="document.location='switchboard/report/packingSlip'">Packing Slip</div>
                <div class="button" onclick="document.location='switchboard/report/booksByCustomer'">Books By Customer</div>
            </div>
        </div>
    </div>

    <%- include("partials/footer") %>