* {
    font-family: 'Courier New', Courier, monospace;
    margin-left: 10px;
}

.container {
}

.button {
    margin: 0;
    background-color: #cfe2ff;
    border-color: #9ec5fe;
    border-width: 5px;
    border-radius: 5px;
    color: #0b3190;
    padding: 15px 32px;
    text-align: center;
    font-size: 16px;
    cursor: pointer;
}

.bottom {
    position: absolute;
    bottom: 10;
}


table {
    width: 100%;
    border-collapse: collapse;
}
th, td {
    border: 1px solid #ddd;
    padding: 8px;
}
th {
    background-color: #f2f2f2;
}