* {
    font-family: 'Courier New', Courier, monospace;
    margin-left: 10px;
}

.button {
    margin: 10px; 
    background-color: #cfe2ff;
    border-color: #9ec5fe;
    border-width: 5px;
    border-radius: 5px;
    color: #0b3190;
    padding: 15px 32px;
    text-align: center;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s;
}

.button:hover {
    background-color: #9ec5fe;
    color: #ffffff;
}

.bottom {
    bottom: 10;
}

th,
td {
    border: 1px solid #ddd;
    padding: 10px;
}

th {
    background-color: #9ec5fe;
}

.codeblock {
    background: #f4f4f4;
    border: 1px solid #ddd;
    border-left: 3px solid #0b3190;
    color: #666;
    page-break-inside: avoid;
    font-family: monospace;
    font-size: 15px;
    line-height: 1.6;
    margin-bottom: 1.6em;
    max-width: 100%;
    overflow: auto;
    padding: 1em 1.5em;
    display: block;
    word-wrap: break-word;
}


.container-custom {
    background-color: #f4f4f4;
    margin: 20px;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.column-header {
    margin-bottom: 10px;
}

.form-input {
    width: 98%;
}

input[type=text] {
    border: 1px solid #0b3190;
    border-radius: 4px;
  }

.reportHeadingDiv {
    margin: auto;
    width: 50%;
    padding: 10px;
    text-align:center
}